.summaryCard {
  background: white;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  width: 350px;
  font-family: "Inter", sans-serif;
  border-radius: 4px;
  overflow: hidden;
  position: sticky;
  top: 100px;
}

.header {
  background-color: #a39076; /* Gold Theme */
  color: white;
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: 500;
}

.body {
  padding: 25px;
  text-align: center;
}

.datesRow {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.dateBox {
  border: 1px solid #eee;
  border-radius: 4px;
  overflow: hidden;
  width: 110px;
}

.boxLabel {
  background: #a39076;
  color: white;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 5px;
  text-transform: uppercase;
}

.boxContent {
  padding: 15px 5px;
  background: white;
}

.dayNum {
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  display: block;
  line-height: 1;
  margin-bottom: 5px;
}

.monthName {
  font-size: 0.85rem;
  color: #a39076;
  font-weight: 600;
  text-transform: uppercase;
}

.dayName {
  display: block;
  font-size: 0.8rem;
  color: #777;
  margin-top: 5px;
}

.detailsList {
  text-align: right;
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 25px;
  border-top: 1px solid #f0f0f0;
  padding-top: 15px;
}

.detailRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.label {
  color: #999;
}
.value {
  font-weight: 600;
  color: #333;
}

.changeBtn {
  width: 100%;
  background-color: #a39076;
  color: white;
  border: none;
  padding: 12px;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s;
}

.changeBtn:hover {
  background-color: #8c7b63;
}
